/*height*/
.h-auto {
    height: auto;
}

.h-1 {
    height: 1rem;
}

.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.h-4 {
    height: 4rem;
}

.h-5 {
    height: 5rem;
}

.h-6 {
    height: 6rem;
}

.h-7 {
    height: 7rem;
}

.h-8 {
    height: 8rem;
}

.h-9 {
    height: 9rem;
}

.h-10 {
    height: 10rem;
}

.h-11 {
    height: 11rem;
}

.h-12 {
    height: 12rem;
}

.h-13 {
    height: 13rem;
}

.h-14 {
    height: 14rem;
}

.h-15 {
    height: 15rem;
}

.h-16 {
    height: 16rem;
}

.h-17 {
    height: 17rem;
}

.h-18 {
    height: 18rem;
}

.h-19 {
    height: 19rem;
}

.h-20 {
    height: 20rem;
}