/*font-size*/
.font-size-1 {
    font-size: 1rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-4 {
    font-size: 4rem;
}

.font-size-5 {
    font-size: 5rem;
}

.font-size-6 {
    font-size: 6rem;
}

.font-size-7 {
    font-size: 7rem;
}

.font-size-8 {
    font-size: 8rem;
}

.font-size-9 {
    font-size: 9rem;
}