/*width*/
.w-auto {
    width: auto;
}

.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-4 {
    width: 4rem;
}

.w-5 {
    width: 5rem;
}

.w-6 {
    width: 6rem;
}

.w-7 {
    width: 7rem;
}

.w-8 {
    width: 8rem;
}

.w-9 {
    width: 9rem;
}

.w-10 {
    width: 10rem;
}

.w-11 {
    width: 11rem;
}

.w-12 {
    width: 12rem;
}

.w-13 {
    width: 13rem;
}

.w-14 {
    width: 14rem;
}

.w-15 {
    width: 15rem;
}

.w-16 {
    width: 16rem;
}

.w-17 {
    width: 17rem;
}

.w-18 {
    width: 18rem;
}

.w-19 {
    width: 19rem;
}

.w-20 {
    width: 20rem;
}